.footerContainer {
  height: 100px;
  background-color: var(--clr-level-05);
  color: var(--clr-level-10);
  font-family: var(--ff-header-main);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socialMedia {
  display: flex;
  gap: 0.5rem;
}

.instagram {
  font-size: 1.6rem;
  color: -var(--clr-level-10);
}

.twitter {
  font-size: 1.6rem;
}

.youtube {
  font-size: 1.6rem;
}
