.headerContainer {
  height: 100px;
  background-color: var(--clr-level-05);
  color: var(--clr-level-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  flex: 1;
  padding-left: 2rem;
  align-items: center;
  display: flex;
  padding-left: 100px;
}

.headerMenu {
  display: flex;
  gap: 1.7rem;
  color: var(--clr-level-10);
  font-size: 1.1rem;
}

.headerLogin {
  padding-right: 3rem;
  width: 250px;
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--clr-level-10);
  position: relative;
}
