.headerContainer {
  height: 100px;
  background-color: #0c0c0c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  flex: 1;
  padding-left: 2rem;
}

.headerMenu {
  display: flex;
  gap: 1rem;
  color: #c9c9c9;
}

.headerLogin {
  padding-right: 3rem;
  width: 250px;
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  position: relative;
}

.logout {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: #525252;
  padding-inline: 5px;
  padding-block: 3px;
  border-radius: 4px;
}

.logout:hover {
  background-color: #333;
}

.login {
  cursor: pointer;
  background-color: #525252;
  padding-inline: 5px;
  padding-block: 3px;
  border-radius: 4px;
}

.login:hover {
  background-color: #333;
}

.userOverlay {
  position: absolute;
  top: 70px;
  width: 200px;
  background-color: #333;
  border: 1px solid #c49433;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  padding-bottom: 15px;
}

.loginButton {
  cursor: pointer;
}
