.heroBanner {
  background-image: url('/old_guy.png');
  background-size: cover;
  background-color: #b9a8ff;
  color: #333;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 125px;
  padding-inline: 7%;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Merriweather';
  color: #ffffff;
}

.heroSub {
  font-size: 1.5rem;
  font-weight: 400;
  color: #aaa;
  font-family: 'Poppins';
  padding-top: 7px;
}

.heroHook {
  font-size: 2rem;
  color: #ffffff;
  padding-top: 100px;
  font-family: 'Montserrat';
  padding-left: 5rem;
  line-height: 3.5rem;
  font-weight: 500;
}

.heroHook > ul > li {
  list-style: none;
}

.heroHook > ul > li:before {
  content: '🔥';
  margin-left: -20px;
  margin-right: 10px;
  font-size: 1.8rem;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: #1a1727; */
  background-color: #090909;
}

.homeContent {
  flex: 1;
  /* background-image: url('/transition.png'); */
  background-repeat: no-repeat;
  background-position: top left;
  /* padding-top: 6rem; */
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  padding-inline: 100px;
  padding-block: 100px;
  background-color: #1a1727;
}

.card {
  border: 1px solid #555;
  width: 350px;
  border-radius: 10px 10px 5px 5px;
  overflow: hidden;
  box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.1);
}

.card > .cardTitle {
  padding-inline: 20px;
  padding-block: 10px 15px;
  font-size: 2rem;
  background-color: #b9a8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Playfair Display';
  font-weight: 100;
}

.card > .cardContent {
  padding-block: 30px;
  padding-inline: 20px;
  font-size: 1.4rem;
  font-family: 'Libre Baskerville';
  line-height: 2.3rem;
}

.banner {
  background-color: #090909;
  padding-block: 100px;
}
