.rangeEditorContainer {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 0.8rem;
  user-select: none;
}

.saveContainer {
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: center;
  color: var(--clr-level-10);
  margin-top: 1.5rem;
}

.saveContainer > div {
  background-color: var(--clr-level-3);
  width: 150px;
  padding-block: 5px;
  border-radius: 3px;
  text-align: center;
}

.saveContainer > div:hover {
  background-color: var(--clr-primary-red);
  /* color: var(--clr-level-0); */
}

.leftPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
  align-items: flex-end;
  justify-content: space-between;
}

.actionPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
  align-items: flex-end;
}

.comboPercentages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
  align-items: flex-end;
}

.comboPercentages > div {
  /* background-color: var(--clr-level-3); */
  /* width: 150px; */
  /* padding-block: 5px;
  border-radius: 3px; */
  text-align: center;
}

/* .comboPercentages > div:hover {
  background-color: var(--clr-primary-red);
  color: var(--clr-level-1);
} */

.actionPanel > div {
  background-color: var(--clr-level-3);
  width: 150px;
  padding-block: 5px;
  border-radius: 3px;
  text-align: center;
}

.actionPanel > div:hover {
  background-color: var(--clr-primary-red);
  /* color: var(--clr-level-1); */
}

.rightPanel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 200px;
  align-items: flex-start;
}

.rightPanel > div {
  background-color: var(--clr-level-3);
  width: 100px;
  padding-block: 5px;
  border-radius: 3px;
  text-align: center;
}

.rightPanel > div:hover {
  background-color: var(--clr-primary-red);
  /* color: var(--clr-level-1); */
}

.centerPanel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: var(--clr-primary-teal) !important;
  /* color: var(--clr-level-1); */
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.titleText {
  font-family: var(--ff-header-big);
  font-size: 2rem;
}
