.signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.leftPanel {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: flex-start;
  align-items: flex-start;
}

.leftPanel > p {
  margin-block: 1rem;
  font-size: 1.2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.loginIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: white;
  padding: 10px;
  color: rgb(51, 116, 237);
}

.loginText {
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #222;
}

.loginProvider {
  width: 250px;
  height: 50px;
  display: flex;
  background-image: linear-gradient(to top left, #ccc, #fff 70%);
  color: white;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
}

.loginProvider:hover {
  background-image: linear-gradient(to left, #b9a8ff, #ffffff 70%);
  border: 1px solid #b9a8ff;
}
