.trainerContainer {
  display: flex;
  flex: 1;
  height: 100%;
}

.settingsContainer {
  background-color: var(--clr-level-2);
  width: 320px;
  padding: 20px;
  height: 100%;
}

.actionContainer,
.positionContainer,
.villainPosition,
.timers,
.tables {
  display: flex;
  gap: 8px;
  padding-block: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.actionContainer > div,
.positionContainer > div,
.villainPosition > div,
.tables > div,
.timers > div {
  background-color: var(--clr-level-4);
  padding-inline: 8px;
  padding-block: 2px;
  font-size: 0.925rem;
  border-radius: 3px;
  cursor: pointer;
}

.selected {
  background-color: var(--clr-primary-red) !important;
  color: var(--clr-level-0);
}

.header {
  margin-block: 1rem 0.5rem;
}
